@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;
*{
    font-family: 'Poppins', sans-serif;
}

.setCenter{
    position: fixed;
    top: 50%;
    left:50%;
    transform: translate(-50%,-50%);
}
.setCenterWidth{
    width:60%;
}

@media (max-width:480px) {
    .setCenterWidth{
        width: 100%;
    }
}
.verticalCenter{
    top:50%;
    transform: translateY(-50%);
}

.Verti{
    top: 37% !important;
}
.bg-whitesmoke{
  background-color: whitesmoke;
}
.text-whitesmoke{
    color:whitesmoke;
}
.college{
    top: 37% !important;
}